<!DOCTYPE html>
<html>
    <head>
        <title>Listagem de Usuários</title>
        <% include ../head %>
    </head>
    <body class="container">
        <h2 class="basic-title text-center">Listagem de Usuários</h2>
        <div>
            <table class="table table-bordered">
                <thead>
                <tr>
                    <th>Nome</th>
                    <th>E-mail</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                    <% 
                    usuarios.forEach((usuario) => {
                        %>
                        <tr>
                            <td><a href="/usuarios/editar/<%=usuario.id%>"><%= usuario.nome %></a></td>
                            <td><%= usuario.email %></td>
                            <td>
                                <form action="/usuarios/<%=usuario.id%>?_method=DELETE" method="post">
                                    <button type="submit" class="btn btn-danger">Excluir</button>
                                </form>
                            </td>
                        </tr>
                        <%
                        })
                       %>
                </tbody>
            </table>
        </div>
        <a href="/usuarios/novo">[Cadastrar Usuário]</a>
    </body>
</html>